@import "./fonts.css";
@import "tailwindcss";

@theme {
    /* Font sizes */
    --text-7xl: 72px;
    --text-6xl: 60px;
    --text-5xl: 48px;
    --text-4xl: 34px;
    --text-3xl: 30px;
    --text-2xl: 26px;
    --text-xl: 24px;
    --text-lg: 22px;
    --text-md-lg: 20px;
    --text-md: 19px;
    --text-base-lg: 18px;
    --text-base: 16px;
    --text-sm: 15px;
    --text-xs: 14px;
    --text-xxs: 10px;

    /* Colors */
    --color-blue-900: #10335f;
    --color-blue-dark: #0E44B0;
    --color-blue: #077cfd;
    --color-blue-lighten: #33BEEC;
    --color-blue-light: #99CAFF;
    --color-green: #B5DE44;
    --color-green-dark: #435A02;
    --color-white-100: #e7f1fc;
    --color-white-blue-light: #F6FAFF;
    --color-white-blue: #E5F1FF;
    --color-white-blue-dark: #C6E1FF;
    --color-gray: #B9C0D4;
    --color-gray-dark: #646E8C;
    --color-gray-darker: #181F35;
    --color-base: #30374F;
    --color-pink: #FECDCA;
    --color-red: #912018;

    /* Breakpoints */
    --breakpoint-sm: 390px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1280px;

    /* Width */
    --max-width-container: 1640px;

    /* Fonts */
    --font-sans: 'LeagueSpartan', sans-serif;
    --font-inter: 'Inter', sans-serif;

    /* font weight */
    --font-weight-light: 400;
    --font-weight-normal: 500;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    /* border */
    --radius-lg: 60px;
}

@layer base {
    html {
        font-family: theme('fontFamily.sans'), serif;
        color: theme('colors.base');
    }
}